.header-link:link, .header-link:active, .header-link:visited {
    text-decoration: none;
    color: white;
    padding: 1em;
}

nav {
    background-color: #d77d37;
    /* border-radius: 12px; */
    max-width: fit-content;
    max-height: min-content;
    /* margin: 1.5em; */
    text-align: center;
}

.header-link-container {
    margin-top: 0.5em;
}